h1 {font-size: 18px;
text-align: left;
border-style: dotted;font-style: italic;}

h2 { font-size: 22px;}

header {font-size:40px; margin-bottom: 2%; 
text-align: center;
border-style: dashed;
border-color: black;
background-color: rgb(60, 73, 114);
font-style: oblique; margin-left: 20%; margin-right:20%;
text-shadow: 15px;
}

body {background-color: rgb(153, 153, 153);}

h3 {Font-size: 18px;
    text-align: left;
    border-style: dotted;
font-style: italic;}

#surf {margin-left: 25%;margin-right: 20%; border-style: ridge; 
    border-radius: 2%; border-width: 10px; margin-bottom: 3%; margin-top: 3%;
}
#praia {margin-left: 35%;margin-right: 20%; border-style: ridge; 
    border-radius: 2%; border-width: 10px; margin-bottom: 3%; margin-top: 3%;
}